*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    margin: 0px;
    height: 45px;
    background-color: black;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
}
header ul{
    display: flex;
    flex-direction: row;
    position:absolute;
    bottom:0px;
    right: 0px;
}
header li{
    width: 40px;
}
header li img{
    width: 25px;
   
}
header li img:hover{
    transform: scale(1.4);/* Para mover logos redes*/
}



nav{
    background-color: rgb(152, 220, 185);
    margin-top: 45px;
    height: 30px;
    width: 100%;
    position: fixed;
}
.menu-horizontal{
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
}
.menu-horizontal li{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    width: 170px;
    height: 100%;
    background-color: rgb(152, 220, 185)
}
.menu-horizontal>li:hover{
    border-right: 2px solid rgb(1, 1, 1);
    border-left: 2px solid rgb(1, 1, 1);
    background-color: rgb(127, 255, 185);
}
.menu-horizontal li a{
    text-decoration: none;
    padding: 5px;
    color: black;
    text-align: center;
}




.ContainerPrincipal{
    width: 100%;
    padding-top: 75px;
}
#Presentación {
 
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: repeat(24,1fr);
    width: 100%;
    height: 511px;
    background-color: rgba(252, 252, 252, 0.918)
}

#Presentación img{
   
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.bienvenido{
    width: 800px;
    background-color: rgb(222, 182, 182);
    grid-row: 3/5;
    grid-column: 7/18;
    font-size: x-large;
    text-align: center;
}

.texto{
    width: 500px;
    background-color: rgb(222, 182, 182);
    grid-row: 12/15;
    grid-column: 10/16;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 65px;
    padding-right: 10px;
    font-size: x-large;
}

.vaca{
    grid-row: 9/13;
    grid-column: 8/11;
}






.uno{
    background-color: rgb(212, 43, 43);
    height: 400px;
}
.dos{
    background-color: black;
    height: 200px;
}

